[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
arxiv = "*"
huggingface-hub = "*"
pymupdf = "*"
rank-bm25 = "*"
pandas = "*"
langchain = "*"
langchain-community = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.13"
